*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Streamer specific
/Streamer/build
/Streamer/.gradle
/Streamer/local.properties
/Streamer/.idea
/Streamer/app/build

# Receiver specific
/Receiver/build
/Receiver/.gradle
/Receiver/local.properties
/Receiver/.idea
/Receiver/app/build
